#order .products{
    font-size: 36px;
}

#order i.fa{
    cursor: pointer;
}

#order ul li{
    list-style: none;
    font-size: 22px;
}

#order ul{
    padding: 0;
}

#total .price-order{
    font-size: 52px;
}